<a href="https://colab.research.google.com/github/mqifjjfwiot/MS-AI-SCHOOL/blob/main/InT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
base_url = '/content/drive/MyDrive/Colab Notebooks/Nexon/1221/Data/'

In [5]:
df_c = pd.read_csv(base_url+'connect.csv')

In [6]:
df_j = pd.read_csv(base_url+'join.csv')

In [7]:
df_l = pd.read_csv(base_url+'levelup.csv')

In [7]:
df_j[df_j['userid'] == '77A372']

   userid characterid                 joindate
0  77A372      A40889  2022-03-14 23:39:24.263
6  77A372      BA18CD  2022-03-12 10:17:50.923

In [8]:
df_j[df_j['userid'] == '0751C4']

     userid characterid                 joindate
643  0751C4      A32065  2022-03-12 15:26:27.237

In [9]:
df_j[df_j['userid'] == '03761E']

     userid characterid                 joindate
678  03761E      25ABB7  2022-03-13 14:05:17.817

In [10]:
df_c[df_c['userid'] == '03761E']

      userid characterid connectdate  connect_cnt
1183  03761E      25ABB7  2022-03-13            5
1184  03761E      25ABB7  2022-03-14            6

In [15]:
df_c[df_c['characterid'] == '0607C4']

   userid characterid connectdate  connect_cnt
6  6668CF      0607C4  2022-03-14            4
7  6668CF      0607C4  2022-03-15            2

In [16]:
df_l[df_l['characterid'] == '0607C4']

    userid characterid               createdate  levelbef  levelaft
25  6668CF      0607C4  2022-03-14 14:16:49.230        21        22
26  6668CF      0607C4  2022-03-15 03:57:49.300        27        28
27  6668CF      0607C4  2022-03-14 12:41:07.157        19        20
28  6668CF      0607C4  2022-03-14 12:06:36.523        18        19
29  6668CF      0607C4  2022-03-14 13:19:24.073        20        21
30  6668CF      0607C4  2022-03-15 09:34:20.767        29        30
31  6668CF      0607C4  2022-03-15 11:06:26.960        30        31
32  6668CF      0607C4  2022-03-15 05:21:42.643        28        29
33  6668CF      0607C4  2022-03-14 02:57:57.737         2         3
34  6668CF      0607C4  2022-03-14 02:55:52.227         1         2
35  6668CF      0607C4  2022-03-14 15:17:44.597        22        23
36  6668CF      0607C4  2022-03-14 17:39:09.350        23        24
37  6668CF      0607C4  2022-03-14 03:10:11.057         6         7
38  6668CF      0607C4  2022-03-14 03:50:58.223        10        11
39  6668CF      0607C4  2022-03-14 03:35:14.190         8         9
40  6668CF      0607C4  2022-03-14 03:01:29.743         3         4
41  6668CF      0607C4  2022-03-14 03:07:29.700         5         6
42  6668CF      0607C4  2022-03-14 03:27:09.003         7         8
43  6668CF      0607C4  2022-03-14 03:05:09.270         4         5
44  6668CF      0607C4  2022-03-14 03:40:59.757         9        10
45  6668CF      0607C4  2022-03-14 04:01:35.763        11        12
46  6668CF      0607C4  2022-03-14 04:21:44.953        12        13
47  6668CF      0607C4  2022-03-14 04:43:56.947        13        14
48  6668CF      0607C4  2022-03-14 11:32:03.823        17        18
49  6668CF      0607C4  2022-03-14 10:57:22.553        16        17
50  6668CF      0607C4  2022-03-15 02:55:46.007        26        27
51  6668CF      0607C4  2022-03-14 05:42:00.650        15        16
52  6668CF      0607C4  2022-03-14 05:12:16.293        14        15
53  6668CF      0607C4  2022-03-14 21:05:24.667        24        25
54  6668CF      0607C4  2022-03-15 01:20:14.690        25        26

In [17]:
df_j[df_j['characterid'] == '0607C4']

   userid characterid                 joindate
1  6668CF      0607C4  2022-03-15 10:19:23.637

In [8]:
df_l

      userid characterid               createdate  levelbef  levelaft
0     D799F6      C9BE40  2022-03-12 23:20:55.697         1         2
1     675CF4      248538  2022-03-13 10:17:01.097         2         3
2     675CF4      248538  2022-03-13 10:27:57.097         6         7
3     675CF4      248538  2022-03-13 10:33:22.983         7         8
4     675CF4      248538  2022-03-13 10:19:08.527         3         4
...      ...         ...                      ...       ...       ...
7941  5B9314      8677D5  2022-03-17 20:38:05.363        10        11
7942  5B9314      8677D5  2022-03-17 20:34:52.317         9        10
7943  5B9314      8677D5  2022-03-17 20:16:15.237         2         3
7944  5B9314      8677D5  2022-03-17 20:19:05.017         5         6
7945  5B9314      8677D5  2022-03-17 20:18:48.007         3         4

[7946 rows x 5 columns]

In [19]:
userid_list_l = df_l['userid'].unique().tolist()

In [20]:
len(userid_list_l)

566

In [41]:
len(df_j['userid'].unique().tolist())

987

In [42]:
len(df_j['characterid'].unique().tolist())

998

In [15]:
df_c['userid'].isnull().sum()

0

In [17]:
df_j[df_j['userid'] =='023973' ]

    userid characterid                 joindate
75  023973      59D906  2022-03-12 01:17:53.967

In [18]:
df_l[df_l['userid'] =='023973' ]

      userid characterid               createdate  levelbef  levelaft
3353  023973      59D906  2022-03-12 01:41:07.817         1         2
3354  023973      59D906  2022-03-12 02:20:22.257         3         4
3355  023973      59D906  2022-03-12 02:16:00.153         2         3

In [19]:
df_c[df_c['userid'] =='023973' ]

Empty DataFrame
Columns: [userid, characterid, connectdate, connect_cnt]
Index: []

In [20]:
user_idd = '3494E1'

In [21]:
df_j[df_j['userid'] == user_idd ]

     userid characterid                 joindate
871  3494E1      87970B  2022-03-12 11:19:34.927

In [22]:
df_l[df_l['userid'] == user_idd ]

      userid characterid               createdate  levelbef  levelaft
5244  3494E1      87970B  2022-03-12 13:12:18.830        12        13
5245  3494E1      87970B  2022-03-12 11:55:51.127         9        10
5246  3494E1      87970B  2022-03-12 11:36:16.977         4         5
5247  3494E1      87970B  2022-03-12 11:23:29.317         1         2
5248  3494E1      87970B  2022-03-12 11:39:08.270         5         6
5249  3494E1      87970B  2022-03-12 11:52:13.630         8         9
5250  3494E1      87970B  2022-03-12 11:30:43.180         3         4
5251  3494E1      87970B  2022-03-12 11:42:02.127         6         7
5252  3494E1      87970B  2022-03-12 11:46:28.383         7         8
5253  3494E1      87970B  2022-03-12 11:28:33.830         2         3
5254  3494E1      87970B  2022-03-12 12:38:32.203        11        12
5255  3494E1      87970B  2022-03-12 12:00:56.700        10        11
5256  3494E1      87970B  2022-03-12 14:06:38.423        13        14
5257  3494E1      87970B  2022-03-12 14:14:57.247        14        15
5258  3494E1      87970B  2022-03-12 15:19:23.900        15        16

In [23]:
df_c[df_c['userid'] == user_idd ]

Empty DataFrame
Columns: [userid, characterid, connectdate, connect_cnt]
Index: []

In [9]:
df_c[df_c['userid'] =='867E93' ]

     userid characterid connectdate  connect_cnt
265  BE64BF      52D5C0  2022-03-12            2
266  BE64BF      52D5C0  2022-03-15            6
267  BE64BF      52D5C0  2022-03-14            4
268  BE64BF      52D5C0  2022-03-13            2

In [10]:
df_j[df_j['userid'] =='BE64BF' ]

Empty DataFrame
Columns: [userid, characterid, joindate]
Index: []

In [44]:
df_c[df_c['connect_cnt'] == 21 ]

      userid characterid connectdate  connect_cnt
1328  099F65      C6405F  2022-03-14           21