<a href="https://colab.research.google.com/github/mqifjjfwiot/MS-AI-SCHOOL/blob/main/InT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
base_url = '/content/drive/MyDrive/Colab Notebooks/Nexon/1221/Data/'

In [4]:
df_c = pd.read_csv(base_url+'connect.csv')

In [5]:
df_c[df_c['userid'] == '77A372']

    userid characterid connectdate  connect_cnt
4   77A372      A40889  2022-03-16            6
5   77A372      A40889  2022-03-14            1
43  77A372      BA18CD  2022-03-15            5
44  77A372      BA18CD  2022-03-12            6
45  77A372      BA18CD  2022-03-17            2
46  77A372      BA18CD  2022-03-13            4
47  77A372      BA18CD  2022-03-14            2
48  77A372      BA18CD  2022-03-16            6

In [6]:
df_j = pd.read_csv(base_url+'join.csv')

In [14]:
df_l = pd.read_csv(base_url+'levelup.csv')

In [7]:
df_j[df_j['userid'] == '77A372']

   userid characterid                 joindate
0  77A372      A40889  2022-03-14 23:39:24.263
6  77A372      BA18CD  2022-03-12 10:17:50.923

In [8]:
df_j[df_j['userid'] == '0751C4']

     userid characterid                 joindate
643  0751C4      A32065  2022-03-12 15:26:27.237

In [9]:
df_j[df_j['userid'] == '03761E']

     userid characterid                 joindate
678  03761E      25ABB7  2022-03-13 14:05:17.817

In [10]:
df_c[df_c['userid'] == '03761E']

      userid characterid connectdate  connect_cnt
1183  03761E      25ABB7  2022-03-13            5
1184  03761E      25ABB7  2022-03-14            6

In [15]:
df_c[df_c['characterid'] == '0607C4']

   userid characterid connectdate  connect_cnt
6  6668CF      0607C4  2022-03-14            4
7  6668CF      0607C4  2022-03-15            2

In [16]:
df_l[df_l['characterid'] == '0607C4']

    userid characterid               createdate  levelbef  levelaft
25  6668CF      0607C4  2022-03-14 14:16:49.230        21        22
26  6668CF      0607C4  2022-03-15 03:57:49.300        27        28
27  6668CF      0607C4  2022-03-14 12:41:07.157        19        20
28  6668CF      0607C4  2022-03-14 12:06:36.523        18        19
29  6668CF      0607C4  2022-03-14 13:19:24.073        20        21
30  6668CF      0607C4  2022-03-15 09:34:20.767        29        30
31  6668CF      0607C4  2022-03-15 11:06:26.960        30        31
32  6668CF      0607C4  2022-03-15 05:21:42.643        28        29
33  6668CF      0607C4  2022-03-14 02:57:57.737         2         3
34  6668CF      0607C4  2022-03-14 02:55:52.227         1         2
35  6668CF      0607C4  2022-03-14 15:17:44.597        22        23
36  6668CF      0607C4  2022-03-14 17:39:09.350        23        24
37  6668CF      0607C4  2022-03-14 03:10:11.057         6         7
38  6668CF      0607C4  2022-03-14 03:50:58.223        10        11
39  6668CF      0607C4  2022-03-14 03:35:14.190         8         9
40  6668CF      0607C4  2022-03-14 03:01:29.743         3         4
41  6668CF      0607C4  2022-03-14 03:07:29.700         5         6
42  6668CF      0607C4  2022-03-14 03:27:09.003         7         8
43  6668CF      0607C4  2022-03-14 03:05:09.270         4         5
44  6668CF      0607C4  2022-03-14 03:40:59.757         9        10
45  6668CF      0607C4  2022-03-14 04:01:35.763        11        12
46  6668CF      0607C4  2022-03-14 04:21:44.953        12        13
47  6668CF      0607C4  2022-03-14 04:43:56.947        13        14
48  6668CF      0607C4  2022-03-14 11:32:03.823        17        18
49  6668CF      0607C4  2022-03-14 10:57:22.553        16        17
50  6668CF      0607C4  2022-03-15 02:55:46.007        26        27
51  6668CF      0607C4  2022-03-14 05:42:00.650        15        16
52  6668CF      0607C4  2022-03-14 05:12:16.293        14        15
53  6668CF      0607C4  2022-03-14 21:05:24.667        24        25
54  6668CF      0607C4  2022-03-15 01:20:14.690        25        26

In [17]:
df_j[df_j['characterid'] == '0607C4']

   userid characterid                 joindate
1  6668CF      0607C4  2022-03-15 10:19:23.637