<a href="https://colab.research.google.com/github/mqifjjfwiot/MS-AI-SCHOOL/blob/main/InT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
base_url = '/content/drive/MyDrive/Colab Notebooks/Nexon/1221/Data/'

In [5]:
df_c = pd.read_csv(base_url+'connect.csv')

In [6]:
df_j = pd.read_csv(base_url+'join.csv')

In [7]:
df_l = pd.read_csv(base_url+'levelup.csv')

In [7]:
df_j[df_j['userid'] == '77A372']

   userid characterid                 joindate
0  77A372      A40889  2022-03-14 23:39:24.263
6  77A372      BA18CD  2022-03-12 10:17:50.923

In [8]:
df_j[df_j['userid'] == '0751C4']

     userid characterid                 joindate
643  0751C4      A32065  2022-03-12 15:26:27.237

In [9]:
df_j[df_j['userid'] == '03761E']

     userid characterid                 joindate
678  03761E      25ABB7  2022-03-13 14:05:17.817

In [10]:
df_c[df_c['userid'] == '03761E']

      userid characterid connectdate  connect_cnt
1183  03761E      25ABB7  2022-03-13            5
1184  03761E      25ABB7  2022-03-14            6

In [15]:
df_c[df_c['characterid'] == '0607C4']

   userid characterid connectdate  connect_cnt
6  6668CF      0607C4  2022-03-14            4
7  6668CF      0607C4  2022-03-15            2

In [16]:
df_l[df_l['characterid'] == '0607C4']

    userid characterid               createdate  levelbef  levelaft
25  6668CF      0607C4  2022-03-14 14:16:49.230        21        22
26  6668CF      0607C4  2022-03-15 03:57:49.300        27        28
27  6668CF      0607C4  2022-03-14 12:41:07.157        19        20
28  6668CF      0607C4  2022-03-14 12:06:36.523        18        19
29  6668CF      0607C4  2022-03-14 13:19:24.073        20        21
30  6668CF      0607C4  2022-03-15 09:34:20.767        29        30
31  6668CF      0607C4  2022-03-15 11:06:26.960        30        31
32  6668CF      0607C4  2022-03-15 05:21:42.643        28        29
33  6668CF      0607C4  2022-03-14 02:57:57.737         2         3
34  6668CF      0607C4  2022-03-14 02:55:52.227         1         2
35  6668CF      0607C4  2022-03-14 15:17:44.597        22        23
36  6668CF      0607C4  2022-03-14 17:39:09.350        23        24
37  6668CF      0607C4  2022-03-14 03:10:11.057         6         7
38  6668CF      0607C4  2022-03-14 03:50:58.223        10        11
39  6668CF      0607C4  2022-03-14 03:35:14.190         8         9
40  6668CF      0607C4  2022-03-14 03:01:29.743         3         4
41  6668CF      0607C4  2022-03-14 03:07:29.700         5         6
42  6668CF      0607C4  2022-03-14 03:27:09.003         7         8
43  6668CF      0607C4  2022-03-14 03:05:09.270         4         5
44  6668CF      0607C4  2022-03-14 03:40:59.757         9        10
45  6668CF      0607C4  2022-03-14 04:01:35.763        11        12
46  6668CF      0607C4  2022-03-14 04:21:44.953        12        13
47  6668CF      0607C4  2022-03-14 04:43:56.947        13        14
48  6668CF      0607C4  2022-03-14 11:32:03.823        17        18
49  6668CF      0607C4  2022-03-14 10:57:22.553        16        17
50  6668CF      0607C4  2022-03-15 02:55:46.007        26        27
51  6668CF      0607C4  2022-03-14 05:42:00.650        15        16
52  6668CF      0607C4  2022-03-14 05:12:16.293        14        15
53  6668CF      0607C4  2022-03-14 21:05:24.667        24        25
54  6668CF      0607C4  2022-03-15 01:20:14.690        25        26

In [17]:
df_j[df_j['characterid'] == '0607C4']

   userid characterid                 joindate
1  6668CF      0607C4  2022-03-15 10:19:23.637

In [8]:
df_l

      userid characterid               createdate  levelbef  levelaft
0     D799F6      C9BE40  2022-03-12 23:20:55.697         1         2
1     675CF4      248538  2022-03-13 10:17:01.097         2         3
2     675CF4      248538  2022-03-13 10:27:57.097         6         7
3     675CF4      248538  2022-03-13 10:33:22.983         7         8
4     675CF4      248538  2022-03-13 10:19:08.527         3         4
...      ...         ...                      ...       ...       ...
7941  5B9314      8677D5  2022-03-17 20:38:05.363        10        11
7942  5B9314      8677D5  2022-03-17 20:34:52.317         9        10
7943  5B9314      8677D5  2022-03-17 20:16:15.237         2         3
7944  5B9314      8677D5  2022-03-17 20:19:05.017         5         6
7945  5B9314      8677D5  2022-03-17 20:18:48.007         3         4

[7946 rows x 5 columns]

In [19]:
userid_list_l = df_l['userid'].unique().tolist()

In [20]:
len(userid_list_l)

566

In [41]:
len(df_j['userid'].unique().tolist())

987

In [42]:
len(df_j['characterid'].unique().tolist())

998

In [15]:
df_c['userid'].isnull().sum()

0

In [24]:
df_j[df_j['userid'] =='023973' ]

    userid characterid                 joindate
75  023973      59D906  2022-03-12 01:17:53.967

In [25]:
df_l[df_l['userid'] =='023973' ]

      userid characterid               createdate  levelbef  levelaft
3353  023973      59D906  2022-03-12 01:41:07.817         1         2
3354  023973      59D906  2022-03-12 02:20:22.257         3         4
3355  023973      59D906  2022-03-12 02:16:00.153         2         3

In [26]:
df_c[df_c['userid'] =='023973' ]

Empty DataFrame
Columns: [userid, characterid, connectdate, connect_cnt]
Index: []

In [72]:
user_idd = '59EE55'
char_idd = '000000'

In [73]:
df_j[df_j['userid'] == user_idd ]

     userid characterid                 joindate
843  59EE55      F9C864  2022-03-12 02:37:03.230

In [74]:
df_l[df_l['userid'] == user_idd ].sort_values('levelaft')

      userid characterid               createdate  levelbef  levelaft
3905  59EE55      F9C864  2022-03-12 02:41:22.830         1         2
3906  59EE55      F9C864  2022-03-12 02:43:59.477         2         3
3932  59EE55      F9C864  2022-03-12 02:46:51.553         3         4
3931  59EE55      F9C864  2022-03-12 02:50:25.877         4         5
3904  59EE55      F9C864  2022-03-12 02:53:05.647         5         6
3930  59EE55      F9C864  2022-03-12 02:57:30.750         6         7
3892  59EE55      F9C864  2022-03-12 03:02:32.633         7         8
3893  59EE55      F9C864  2022-03-12 03:07:57.710         8         9
3898  59EE55      F9C864  2022-03-12 03:12:56.120         9        10
3899  59EE55      F9C864  2022-03-12 03:20:13.967        10        11
3895  59EE55      F9C864  2022-03-12 03:25:14.380        11        12
3894  59EE55      F9C864  2022-03-12 03:33:22.507        12        13
3896  59EE55      F9C864  2022-03-12 03:39:30.983        13        14
3897  59EE55      F9C864  2022-03-12 03:54:35.770        14        15
3925  59EE55      F9C864  2022-03-12 04:04:54.263        15        16
3923  59EE55      F9C864  2022-03-12 04:14:01.867        16        17
3926  59EE55      F9C864  2022-03-12 04:21:14.243        17        18
3927  59EE55      F9C864  2022-03-12 04:30:25.430        18        19
3924  59EE55      F9C864  2022-03-12 04:38:52.983        19        20
3901  59EE55      F9C864  2022-03-12 05:06:26.643        20        21
3902  59EE55      F9C864  2022-03-12 05:47:19.290        21        22
3910  59EE55      F9C864  2022-03-12 06:14:47.567        22        23
3917  59EE55      F9C864  2022-03-12 14:55:54.787        23        24
3919  59EE55      F9C864  2022-03-12 15:28:36.857        24        25
3918  59EE55      F9C864  2022-03-12 15:54:49.567        25        26
3916  59EE55      F9C864  2022-03-12 17:09:17.817        26        27
3891  59EE55      F9C864  2022-03-12 18:15:22.503        27        28
3890  59EE55      F9C864  2022-03-12 19:13:30.990        28        29
3914  59EE55      F9C864  2022-03-12 20:29:45.180        29        30
3889  59EE55      F9C864  2022-03-12 22:31:59.557        30        31
3885  59EE55      F9C864  2022-03-13 00:08:06.890        31        32
3929  59EE55      F9C864  2022-03-13 02:03:17.723        32        33
3911  59EE55      F9C864  2022-03-13 05:23:21.863        33        34
3920  59EE55      F9C864  2022-03-13 17:20:30.657        34        35
3933  59EE55      F9C864  2022-03-13 18:33:47.760        35        36
3900  59EE55      F9C864  2022-03-13 20:55:57.237        36        37
3909  59EE55      F9C864  2022-03-14 03:33:26.970        37        38
3915  59EE55      F9C864  2022-03-14 04:12:31.353        38        39
3936  59EE55      F9C864  2022-03-14 05:13:27.490        39        40
3922  59EE55      F9C864  2022-03-14 18:50:23.453        40        41
3886  59EE55      F9C864  2022-03-14 20:50:09.627        41        42
3928  59EE55      F9C864  2022-03-15 00:48:49.693        42        43
3921  59EE55      F9C864  2022-03-15 08:58:15.533        43        44
3934  59EE55      F9C864  2022-03-15 12:34:16.520        44        45
3907  59EE55      F9C864  2022-03-15 16:24:48.563        45        46
3935  59EE55      F9C864  2022-03-15 18:38:51.393        46        47
3887  59EE55      F9C864  2022-03-15 21:07:46.230        47        48
3903  59EE55      F9C864  2022-03-15 22:49:27.737        48        49
3912  59EE55      F9C864  2022-03-16 05:10:17.290        49        50
3937  59EE55      F9C864  2022-03-17 01:56:17.510        50        51
3888  59EE55      F9C864  2022-03-17 12:24:08.927        51        52
3913  59EE55      F9C864  2022-03-18 03:43:12.197        52        53
3908  59EE55      F9C864  2022-03-18 13:55:18.500        53        54

In [75]:
df_c[df_c['userid'] == user_idd ]

     userid characterid connectdate  connect_cnt
611  59EE55      F9C864  2022-03-16            1
612  59EE55      F9C864  2022-03-12            2
613  59EE55      F9C864  2022-03-15            2
614  59EE55      F9C864  2022-03-13            5
615  59EE55      F9C864  2022-03-14            6
616  59EE55      F9C864  2022-03-17            1

In [30]:
df_j[df_j['characterid'] == char_idd ]

Empty DataFrame
Columns: [userid, characterid, joindate]
Index: []

In [28]:
df_c[df_c['characterid'] == char_idd ]

Empty DataFrame
Columns: [userid, characterid, connectdate, connect_cnt]
Index: []

In [29]:
df_l[df_l['characterid'] == char_idd ]

Empty DataFrame
Columns: [userid, characterid, createdate, levelbef, levelaft]
Index: []

In [10]:
df_j[df_j['userid'] =='BE64BF' ]

Empty DataFrame
Columns: [userid, characterid, joindate]
Index: []

In [44]:
df_c[df_c['connect_cnt'] == 21 ]

      userid characterid connectdate  connect_cnt
1328  099F65      C6405F  2022-03-14           21

In [ ]:
pd.merge(df_left, df_right, how='inner', on=None)

In [ ]:
select count(distinct L.characterid) as '총 캐릭터 수', 
count(case when levelaft = 5 then 1 end) as '5 달성 캐릭터 수', 
concat(round(count(case when levelaft = 5 then 1 end) / count(distinct L.characterid) * 100, 2), '%') as '5레벨 도달율',
concat(round(avg(L20.L20H), 3), 'h') as '5레벨 달성 평균 소요시간(hour)', 
concat(round(avg(L20.L20H)/24, 3), 'd') as '5레벨 달성 평균 소요일수(day)'
from levelup as L
inner join new_schema.join as J on J.characterid = L.characterid
left join (
	select L.characterid, J.joindate, L.createdate, timestampdiff(hour, J.joindate, L.createdate) as L20H
	from levelup as L
	join new_schema.join as J on J.characterid = L.characterid
	where L.levelaft = 5 and J.joindate < L.createdate
) as L20 on L20.characterid = L.characterid

In [51]:
df_lj = pd.merge(df_l, df_j, how='inner', on='characterid')
df_lj = df_lj.rename(columns={'userid_x':'userid'}).drop('userid_y', axis = 1)

In [52]:
df_lj['createdate'] = pd.to_datetime(df_lj['createdate'], format='%Y-%m-%d', errors='raise')
df_lj['joindate'] = pd.to_datetime(df_lj['joindate'], format='%Y-%m-%d', errors='raise')
df_lj

,userid,characterid,createdate,levelbef,levelaft,joindate
0,D799F6,C9BE40,2022-03-12 23:20:55.697,1,2,2022-03-12 23:18:49.247
1,675CF4,248538,2022-03-13 10:17:01.097,2,3,2022-03-13 09:59:27.847
2,675CF4,248538,2022-03-13 10:27:57.097,6,7,2022-03-13 09:59:27.847
3,675CF4,248538,2022-03-13 10:33:22.983,7,8,2022-03-13 09:59:27.847
4,675CF4,248538,2022-03-13 10:19:08.527,3,4,2022-03-13 09:59:27.847
...,...,...,...,...,...,...
7922,5B9314,8677D5,2022-03-17 20:38:05.363,10,11,2022-03-17 20:08:55.637
7923,5B9314,8677D5,2022-03-17 20:34:52.317,9,10,2022-03-17 20:08:55.637
7924,5B9314,8677D5,2022-03-17 20:16:15.237,2,3,2022-03-17 20:08:55.637
7925,5B9314,8677D5,2022-03-17 20:19:05.017,5,6,2022-03-17 20:08:55.637
7926,5B9314,8677D5,2022-03-17 20:18:48.007,3,4,2022-03-17 20:08:55.637

In [58]:
(df_lj.iloc[1]['createdate'] - df_lj.iloc[1]['joindate'])/2

Timedelta('0 days 00:08:46.625000')

In [90]:
from pandas.core.arrays.datetimelike import timedelta
time_list = []
for i in range(40) : 
  df_lj2 = df_lj[df_lj['levelaft'] == i].copy()
  time_diff_sum = timedelta(0)
  if len(df_lj2) == 0 :
    pass
  else : 
    for j in range(len(df_lj2)) : 
      time_diff_sum += df_lj2.iloc[j]['createdate'] - df_lj2.iloc[j]['joindate']
    time_list.append((time_diff_sum/len(df_lj2)))

time_list

[Timedelta('0 days 00:54:15.395084805'),
 Timedelta('0 days 01:38:12.279191033'),
 Timedelta('0 days 02:11:37.991357293'),
 Timedelta('0 days 02:44:55.322803203'),
 Timedelta('0 days 03:12:01.124723404'),
 Timedelta('0 days 04:42:11.661250626'),
 Timedelta('0 days 06:03:26.832471544'),
 Timedelta('0 days 06:43:01.823186440'),
 Timedelta('0 days 07:26:14.012094955'),
 Timedelta('0 days 08:09:34.068690184'),
 Timedelta('0 days 09:11:14.116179487'),
 Timedelta('0 days 11:15:37.542333333'),
 Timedelta('0 days 11:29:53.210912727'),
 Timedelta('0 days 13:38:05.344437007'),
 Timedelta('0 days 14:43:45.350050'),
 Timedelta('0 days 16:03:13.528283842'),
 Timedelta('0 days 16:06:25.234578947'),
 Timedelta('0 days 17:41:42.760010204'),
 Timedelta('0 days 18:58:27.343860962'),
 Timedelta('0 days 19:42:55.967437869'),
 Timedelta('0 days 20:48:29.750688741'),
 Timedelta('0 days 23:13:30.999398550'),
 Timedelta('1 days 04:33:01.140450'),
 Timedelta('1 days 04:30:33.819611650'),
 Timedelta('1 days 08:02:22.234206896'),
 Timedelta('1 days 08:25:05.041303797'),
 Timedelta('1 days 08:33:58.272267605'),
 Timedelta('1 days 11:31:07.647269841'),
 Timedelta('1 days 13:05:57.282333333'),
 Timedelta('1 days 17:35:23.773387755'),
 Timedelta('1 days 19:42:56.442250'),
 Timedelta('1 days 21:25:32.220216216'),
 Timedelta('1 days 21:06:15.907657142'),
 Timedelta('1 days 23:12:20.252242424'),
 Timedelta('1 days 22:15:59.886909090'),
 Timedelta('2 days 02:45:22.385580645'),
 Timedelta('2 days 03:09:36.281200'),
 Timedelta('2 days 05:16:25.777966666')]

In [42]:
lv = []
for i in range(5,40, 5) :
  lvs = len(df_lj[df_lj['levelaft'] == i])
  lv.append(lvs)

lv

[437, 337, 254, 187, 103, 57, 33]

In [44]:
df_lj.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7927 entries, 0 to 7926
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userid       7927 non-null   object
 1   characterid  7927 non-null   object
 2   createdate   7927 non-null   object
 3   levelbef     7927 non-null   int64
 4   levelaft     7927 non-null   int64
 5   joindate     7927 non-null   object
dtypes: int64(2), object(4)
memory usage: 433.5+ KB

In [36]:
(df_lj['userid_x'] == df_lj['userid_y'])

0       True
1       True
2       True
3       True
4       True
        ...
7922    True
7923    True
7924    True
7925    True
7926    True
Length: 7927, dtype: bool

In [64]:
df_l_cJ = pd.read_csv(base_url+'l_cJ.csv')
df_l_cJ

,userid,characterid,createdate,levelbef,levelaft,joindate,connectdate,connect_cnt
0,D799F6,C9BE40,2022-03-12 오후 11:20:56,1.0,2.0,12,12.0,1.0
1,675CF4,248538,2022-03-13 오전 10:17:01,2.0,3.0,13,13.0,2.0
2,675CF4,248538,2022-03-13 오전 10:27:57,6.0,7.0,13,13.0,2.0
3,675CF4,248538,2022-03-13 오전 10:33:23,7.0,8.0,13,13.0,2.0
4,675CF4,248538,2022-03-13 오전 10:19:09,3.0,4.0,13,13.0,2.0
...,...,...,...,...,...,...,...,...
21692,1F3D18,0273E9,NaN,NaN,NaN,12,NaN,NaN
21693,0CF555,D799C1,NaN,NaN,NaN,15,NaN,NaN
21694,095043,649D4C,NaN,NaN,NaN,17,NaN,NaN
21695,28DCD9,083229,NaN,NaN,NaN,14,NaN,NaN
21696,867E93,7946AC,NaN,NaN,NaN,12,NaN,NaN

In [65]:
df_l_cJ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21697 entries, 0 to 21696
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userid       21697 non-null  object
 1   characterid  21697 non-null  object
 2   createdate   21230 non-null  object
 3   levelbef     21230 non-null  float64
 4   levelaft     21230 non-null  float64
 5   joindate     21697 non-null  int64
 6   connectdate  21657 non-null  float64
 7   connect_cnt  21657 non-null  float64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.3+ MB